braindecode==0.8.1
dataset==1.6.2
matplotlib==3.7.0
mlflow==2.9.2
mne==1.6.1
model==0.6.0
model2==1.0.4.8
numpy==1.23.5
pandas==1.5.3
read==0.0.2
scikit_learn==1.2.1
seaborn==0.13.1
skorch==0.15.0
torch==1.12.1
utils==1.0.2
